
.spaces
	inline-list() 
	color              base0
    
.spaces-url
	color              violet
	float              right
    
a
	text-decoration		none
	color				inherit
	hover-color			red
	transition()