@import '../common.styl'


textarea
	resize 			none
	
.SignalingPad_column
	span(1/2)

.signalingPad__action
	button       	orange 	'small'
	padding 		0.3rem
	margin 			0
	margin-bottom   0.4rem
	margin-right	0.3rem
	color 			base2 
	float 			right 
	

.signalingPad__textArea
	center()
	width 			99% 
	height 			4rem
	background 		base03
	color 			base2
	border			orange solid 0.1rem
	padding			0.4rem
	margin 			0.2rem