@import 'jeet'
@import url(https://fonts.googleapis.com/css?family=Inconsolata:400,700&subset=latin,latin-ext);

base03 =    #002b36;
base02 =    #073642;
base01 =    #586e75;
base00 =    #657b83;
base0 =     #839496;
base1 =     #93a1a1;
base2 =     #eee8d5;
base3 =     #fdf6e3;
yellow =    #b58900;
orange =    #cb4b16;
red =       #dc322f;
magenta =   #d33682;
violet =    #6c71c4;
blue =      #268bd2;
cyan =      #2aa198;
green =     #859900;


body
	background base02
	font-family: 'Inconsolata'

.chat
	base03
	center()
	max-width 786px
	color base01

.chat__element
	border 			0.2em solid orange
	border-radius	0.2em
	margin 			0.9em
	padding 		0.4em
	font-size 		0.8em
	background base03

.chat__element h4
	padding 		0em
	margin-top 		0.3em
	margin-left 	0em
	line-height 	0em
	color yellow

.chat__signals
	height      	20em
	max-height		20em


.chat__spaces
	margin-bottom 	0em
	border-bottom 	0em	none
	height      	5em
	max-height		10em


.chat__sources
	margin-top 		-0.2em
	border-top		0em	none
	height      	5em
	max-height		10em


