
::-webkit-scrollbar
    width				0.8rem
 
::-webkit-scrollbar-track
    border-radius 		0.2rem
    background			base03
    
 
::-webkit-scrollbar-thumb
    border-radius		0.2rem
    background 			base02
    &:hover
	    border-radius 	0.2rem
    	hover-color(red)
